
// Colors
$basicLightGreen: #69CF5D;
$basicMiddleGreen: #4baf3b;
$basicDarkGreen: #3b8239;
$prettyBlue: #4a84ff;

// Sidebar colors
$s_mainGrey: #2b2d3c;
$s_titleGrey: #1a1e28;
$s_articleGrey: #20222f;

// Card and popups colors
$c_mainBlue: #578ce6;
$c_socials: #4c73d3;



// responsivness //

$tablet: 1150px;
$mobile: 700px;
